<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修[SpringBoot——Web开发（使用Thymeleaf模板引擎）]' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>[SpringBoot——Web开发（使用Thymeleaf模板引擎）]</center></div><div class='banquan'>原文出处:本文由博客园博主noneplus提供。<br/>
原文连接:https://www.cnblogs.com/noneplus/p/11528129.html</div><br>
    <h3 id="文字只能描述片段信息具体细节参考代码">【文字只能描述片段信息，具体细节参考代码】</h3>
<p>https://github.com/HCJ-shadow/SpringBootPlus</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]0.png" alt="1568622970099" /></p>
<h1 id="引入pom依赖">引入POM依赖</h1>
<pre><code><code> &lt;properties&gt;
        &lt;java.version&gt;1.8&lt;/java.version&gt;
        &lt;thymeleaf.version&gt;3.0.11.RELEASE&lt;/thymeleaf.version&gt;
        &lt;thymeleaf-layout-dialect.version&gt;2.1.1&lt;/thymeleaf-layout-dialect.version&gt;
&lt;/properties&gt;
</code></code></pre>
<pre><code><code>  &lt;dependency&gt;
            &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
            &lt;artifactId&gt;spring-boot-starter-thymeleaf&lt;/artifactId&gt;
        &lt;/dependency&gt;
</code></code></pre>
<p>记坑thymeleaf无法跳转：https://blog.csdn.net/qq_40754146/article/details/95411413</p>
<p><br></p>
<p>将html页面放于classpath：template/下，thymeleaf就可自动渲染。</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]1.png" alt="1568278442041" /></p>
<p>启动：</p>
<p>注：如果static下有index.html文件，系统会优先访问static下的index.html。</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]2.png" alt="1568278504902" /></p>
<h1 id="设置thymeleaf页面跳转">设置Thymeleaf页面跳转</h1>
<p><br></p>
<p>新建一个controller</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]3.png" alt="1568279494618" /></p>
<p><br></p>
<p>在templates下新建一个thymeleaf.html</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]4.png" alt="1568279520276" /></p>
<p><br></p>
<p>访问：http://localhost:8080/thymeleaf</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]5.png" alt="1568279447464" /></p>
<h1 id="thymeleaf-crud测试">Thymeleaf CRUD测试</h1>
<h2 id="基础环境准备">基础环境准备：</h2>
<h3 id="引入数据库相关pom依赖">- 引入数据库相关pom依赖</h3>
<pre><code><code>  &lt;dependency&gt;
            &lt;groupId&gt;org.mybatis.spring.boot&lt;/groupId&gt;
            &lt;artifactId&gt;mybatis-spring-boot-starter&lt;/artifactId&gt;
            &lt;version&gt;2.1.0&lt;/version&gt;
        &lt;/dependency&gt;

        &lt;dependency&gt;
            &lt;groupId&gt;mysql&lt;/groupId&gt;
            &lt;artifactId&gt;mysql-connector-java&lt;/artifactId&gt;
            &lt;scope&gt;runtime&lt;/scope&gt;
        &lt;/dependency&gt;</code></code></pre>
<h3 id="引入bootstrap依赖">- 引入Bootstrap依赖</h3>
<pre><code><code> &lt;!--引入bootstrap--&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.webjars&lt;/groupId&gt;
            &lt;artifactId&gt;bootstrap&lt;/artifactId&gt;
            &lt;version&gt;4.0.0&lt;/version&gt;
        &lt;/dependency&gt;
        
        
  页面引用：
   &lt;link  th:href=&quot;@{/webjars/bootstrap/4.0.0/css/bootstrap.css}&quot; rel=&quot;stylesheet&quot;&gt;</code></code></pre>
<h3 id="引入pageshelper插件">- 引入pageshelper插件</h3>
<pre><code><code> &lt;!-- https://mvnrepository.com/artifact/com.github.pagehelper/pagehelper-spring-boot-starter --&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;com.github.pagehelper&lt;/groupId&gt;
            &lt;artifactId&gt;pagehelper-spring-boot-starter&lt;/artifactId&gt;
            &lt;version&gt;1.2.5&lt;/version&gt;
        &lt;/dependency&gt;</code></code></pre>
<p>配置yaml</p>
<pre><code><code>pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  pageSizeZero: false #pageSize=0</code></code></pre>
<p>1.创建数据库表</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]6.png" alt="1568294907692" /></p>
<p>2.创建bean适配数据表</p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]7.png" alt="1568295098039" /></p>
<pre><code><code>package zkkrun.top.web.bean;

import java.io.Serializable;

public class UserInfo implements Serializable {

    private Integer id;
    private String username;
    private String password;
    private Integer age;
    private String email;

    public UserInfo() {
    }

    public UserInfo(Integer id, String username, String password, Integer age, String email) {
        this.id = id;
        this.username = username;
        this.password = password;
        this.age = age;
        this.email = email;
    }

    public Integer getId() {
        return id;
    }

    public void setId(Integer id) {
        this.id = id;
    }

    public String getUsername() {
        return username;
    }

    public void setUsername(String username) {
        this.username = username;
    }

    public String getPassword() {
        return password;
    }

    public void setPassword(String password) {
        this.password = password;
    }

    public Integer getAge() {
        return age;
    }

    public void setAge(Integer age) {
        this.age = age;
    }

    public String getEmail() {
        return email;
    }

    public void setEmail(String email) {
        this.email = email;
    }

    @Override
    public String toString() {
        return &quot;UserInfo{&quot; +
                &quot;id=&quot; + id +
                &quot;, username=&#39;&quot; + username + &#39;\&#39;&#39; +
                &quot;, password=&#39;&quot; + password + &#39;\&#39;&#39; +
                &quot;, age=&quot; + age +
                &quot;, email=&#39;&quot; + email + &#39;\&#39;&#39; +
                &#39;}&#39;;
    }
}
</code></code></pre>
<p>3.yaml配置数据源</p>
<pre><code><code>spring:
  datasource:
    #   数据源基本配置
    username: noneplus1
    password: Noneplus564925080!1
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://47.113.6.247:3306/user?serverTimezone=UTC</code></code></pre>
<p>4.创建Mapper接口，使用注解版Mybatis</p>
<pre><code><code>package zkrun.top.web.mapper;

import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.Insert;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.Update;
import org.springframework.stereotype.Repository;
import zkrun.top.web.bean.UserInfo;

@Repository
public interface UserInfoMapper {

    @Select(&quot;SELECT * FROM user_info WHERE id = #{id}&quot;)
    public UserInfo getUserById(Integer id);

    @Update(&quot;UPDATE user_info SET username=#{username},password=#{password},age=#{age},email=#{email} WHERE id=#{id}&quot;)
    public void updateUser(UserInfo userInfo);

    @Delete(&quot;DELETE FROM user_info WHERE id=#{id}&quot;)
    public void deleteUserById(Integer id);

    @Insert(&quot;INSERT INTO user_info(username,password,age,email) VALUES(#{username},#{password},#{age},#{email})&quot;)
    public void insertUser(UserInfo userInfo);

}
</code></code></pre>
<p>使用MapperScan扫描mapper接口所在包</p>
<pre><code><code>@MapperScan(&quot;zkrun.top.web.mapper&quot;)</code></code></pre>
<p>5.测试数据库</p>
<p>批量插入数据</p>
<pre><code><code>package zkrun.top.web;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.test.context.junit4.SpringRunner;
import zkrun.top.web.bean.UserInfo;
import zkrun.top.web.mapper.UserInfoMapper;

import java.util.UUID;

@RunWith(SpringRunner.class)
@SpringBootTest
public class WebApplicationTests {

    @Autowired
    UserInfoMapper userInfoMapper;
    @Test
    public void contextLoads() {

        UserInfo userInfo = userInfoMapper.getUserById(1);
        System.out.println(userInfo);

    }

    @Test
    public void insertDatas() {

        for(int i =0;i&lt;1000;i++)
        {
            UserInfo userInfo = new UserInfo(i+2,UUID.randomUUID().toString().substring(0,8),&quot;123456789&quot;,(Integer) (i+50)/3,&quot;@sina.com&quot;);
            userInfoMapper.insertUser(userInfo);
        }
        System.out.println(&quot;插入成功！&quot;);

    }

}
</code></code></pre>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]8.png" alt="1568297909179" /></p>
<h2 id="显示信息列表">显示信息列表</h2>
<p>取消thymeleaf缓存</p>
<pre><code><code>spring:
  thymeleaf:
    cache: false</code></code></pre>
<p>ctrl+shift+F9刷新</p>
<h3 id="userinfomapper增加sql查询获取所有信息">1.UserInfoMapper增加SQL查询，获取所有信息</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]9.png" alt="1568363383334" /></p>
<pre><code><code>@Select(&quot;SELECT * FROM user_info&quot;)
    public List&lt;UserInfo&gt; getUsers();</code></code></pre>
<h3 id="创建crudcontroller使用pagehelper插件分页">2.创建CRUDController，使用PageHelper插件分页</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]10.png" alt="1568363460490" /></p>
<pre><code><code>@Controller
public class CRUDController {

    @Autowired
    UserInfoMapper userInfoMapper;

    @RequestMapping(&quot;/crud&quot;)
    public String crud(@RequestParam(defaultValue = &quot;1&quot;) int pageNum,
                       @RequestParam(defaultValue = &quot;10&quot;) int pageSize,
                       Model model)
    {
        //默认查询所有信息
        PageHelper.startPage(pageNum,pageSize);
        PageInfo&lt;UserInfo&gt; pageInfo = new PageInfo&lt;UserInfo&gt;(userInfoMapper.getUsers());
        model.addAttribute(&quot;pageInfo&quot;,pageInfo);
        return &quot;crud&quot;;
    }


}
</code></code></pre>
<ul>
<li>pageNum,pageSize表示起始页和每页显示的数据量，通过@RequestParam参数将默认值设为1和10，方便设置下一页和上一页跳转。</li>
<li>PageHelper.startPage(pageNum,pageSize);设置起始页和每页显示的数据量</li>
<li>PageInfo<UserInfo> pageInfo = new PageInfo<UserInfo>(userInfoMapper.getUsers());将查询到的数据赋给pageInfo对象</li>
<li>model.addAttribute(&quot;pageInfo&quot;,pageInfo);将pageInfo传输进页面</li>
</ul>
<h3 id="thymeleaf通过表达式适配数据">3.Thymeleaf通过表达式适配数据</h3>
<pre><code><code>&lt;table class=&quot;table&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;id&lt;/th&gt;
        &lt;th&gt;username&lt;/th&gt;
        &lt;th&gt;password&lt;/th&gt;
        &lt;th&gt;age&lt;/th&gt;
        &lt;th&gt;email&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr th:each=&quot;user:${pageInfo.list}&quot;&gt;
        &lt;td th:text=&quot;${user.id}&quot;&gt;&lt;/td&gt;
        &lt;td th:text=&quot;${user.username}&quot;&gt;&lt;/td&gt;
        &lt;td th:text=&quot;${user.password}&quot;&gt;&lt;/td&gt;
        &lt;td th:text=&quot;${user.age}&quot;&gt;&lt;/td&gt;
        &lt;td th:text=&quot;${user.email}&quot;&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;

&lt;ul class=&quot;pagination&quot; style=&quot;margin-left: 50%&quot;&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;page-link&quot;&gt;&lt;span th:text=&quot;第+${pageInfo.pageNum}+页&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;page-link&quot; th:href=&quot;@{/crud}&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;page-link&quot; th:href=&quot;@{/crud(pageNum=${pageInfo.pages})}&quot;&gt;尾页&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;page-link&quot; th:href=&quot;@{/crud(pageNum=${pageInfo.prePage})}&quot;&gt;Last&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;page-item&quot;&gt;&lt;a class=&quot;page-link&quot; th:href=&quot;@{/crud(pageNum=${pageInfo.getNextPage()})}&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></code></pre>
<h3 id="访问httplocalhost8080crud">访问http://localhost:8080/crud</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]11.png" alt="1568364289542" /></p>
<h2 id="删除信息">删除信息</h2>
<p>Controller</p>
<pre><code><code>//删除
    @RequestMapping(&quot;/delete&quot;)
    public String delete(int id) {
        userInfoMapper.deleteUserById(id);
        return &quot;redirect:/user&quot;;
    }</code></code></pre>
<p>UserInfoMapper</p>
<pre><code><code> @Delete(&quot;DELETE FROM user_info WHERE id=#{id}&quot;)
    public void deleteUserById(Integer id);</code></code></pre>
<p>在页面添加一个按钮</p>
<pre><code><code>   &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;&lt;a style=&quot;color: aliceblue&quot; th:href=&quot;@{/delete(id=${user.id})}&quot;&gt;删除&lt;/a&gt;&lt;/button&gt;</code></code></pre>
<h2 id="修改和添加信息">修改和添加信息</h2>
<p>先跳转到修改或者添加页面，再进行表单提交</p>
<h3 id="修改">修改</h3>
<pre><code><code>//点击修改按钮，跳转到修改页面，回显信息
    @RequestMapping(&quot;/modify&quot;)
    public String modify(int id ,Model model) {
        model.addAttribute(&quot;OneInfo&quot;,userInfoMapper.getUserById(id));
        return &quot;modify&quot;;
    }

    //提交修改信息
    @RequestMapping(&quot;/modifyCommit&quot;)
    public String modify(UserInfo userInfo) {
        System.out.println(userInfo);
        userInfoMapper.updateUser(userInfo);
        System.out.println(&quot;修改提交.&quot;);
        return &quot;redirect:/user&quot;;
    }</code></code></pre>
<p>主页添加一个修改按钮</p>
<pre><code><code> &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;&lt;a style=&quot;color: aliceblue&quot; th:href=&quot;@{/modify(id=${user.id})}&quot;&gt;修改&lt;/a&gt;&lt;/button&gt;</code></code></pre>
<p>响应上述第一个请求，跳转到modify页面</p>
<p>modify页面</p>
<pre><code><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;modify&lt;/title&gt;
    &lt;link  th:href=&quot;@{/webjars/bootstrap/4.0.0/css/bootstrap.css}&quot; rel=&quot;stylesheet&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div style=&quot;width: 50%;margin-left: 25%;margin-top: 5%&quot;&gt;
    &lt;h1&gt;修改&lt;/h1&gt;
    &lt;form class=&quot;form-horizontal&quot; th:action=&quot;@{/modifyCommit}&quot;&gt;
        &lt;input name=&quot;id&quot; class=&quot;form-control&quot;  th:value=&quot;${OneInfo.getId()}&quot; style=&quot;display: none&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Username&lt;/label&gt;
            &lt;div class=&quot;col-sm-10&quot;&gt;
                &lt;input name=&quot;username&quot; class=&quot;form-control&quot; id=&quot;Username&quot; placeholder=&quot;Username&quot; th:value=&quot;${OneInfo.getUsername()}&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Password&lt;/label&gt;
            &lt;div class=&quot;col-sm-10&quot;&gt;
                &lt;input name=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword3&quot; placeholder=&quot;Password&quot; th:value=&quot;${OneInfo.getPassword()}&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;age&lt;/label&gt;
            &lt;div class=&quot;col-sm-10&quot;&gt;
                &lt;input name=&quot;age&quot; class=&quot;form-control&quot; id=&quot;age&quot; placeholder=&quot;Age&quot; th:value=&quot;${OneInfo.getAge()}&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Email&lt;/label&gt;
            &lt;div class=&quot;col-sm-10&quot;&gt;
                &lt;input name=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail3&quot; placeholder=&quot;Email&quot; th:value=&quot;${OneInfo.getEmail()}&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;提交&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></code></pre>
<p>其中modify表的action响应修改表的提交操作</p>
<h3 id="添加">添加</h3>
<p>同理，跳转到添加页面，再进行表单提交</p>
<p>controller</p>
<pre><code><code>    //添加:1.跳转到添加页面
    @RequestMapping(&quot;/add1&quot;)
    public String add1() {
        return &quot;add&quot;;
    }

    //添加 ： 2.提交信息
    @RequestMapping(&quot;/add2&quot;)
    public String add2(UserInfo userInfo) {
        System.out.println(userInfo);
        userInfoMapper.insertUser(userInfo);
        return &quot;redirect:/user&quot;;
    }</code></code></pre>
<p>添加一个按钮</p>
<pre><code><code>&lt;button style=&quot;margin-left: 75%&quot; type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;&lt;a style=&quot;color: aliceblue&quot; th:href=&quot;@{/add1}&quot;&gt;新增&lt;/a&gt;&lt;/button&gt;</code></code></pre>
<p>添加页面（对比修改页面不需要回显）</p>
<pre><code><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;add&lt;/title&gt;
    &lt;link  th:href=&quot;@{/webjars/bootstrap/4.0.0/css/bootstrap.css}&quot; rel=&quot;stylesheet&quot;&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div style=&quot;width: 50%;margin-left: 25%;margin-top: 5%&quot;&gt;
&lt;h1&gt;添加&lt;/h1&gt;
&lt;form class=&quot;form-horizontal&quot; th:action=&quot;@{/add2}&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Username&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input name=&quot;username&quot; class=&quot;form-control&quot; id=&quot;Username&quot; placeholder=&quot;Username&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Password&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input name=&quot;password&quot; class=&quot;form-control&quot; id=&quot;inputPassword3&quot; placeholder=&quot;Password&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;age&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input name=&quot;age&quot; class=&quot;form-control&quot; id=&quot;age&quot; placeholder=&quot;Age&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label  class=&quot;col-sm-2 control-label&quot;&gt;Email&lt;/label&gt;
        &lt;div class=&quot;col-sm-10&quot;&gt;
            &lt;input name=&quot;email&quot; class=&quot;form-control&quot; id=&quot;inputEmail3&quot; placeholder=&quot;Email&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;div class=&quot;col-sm-offset-2 col-sm-10&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;提交&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></code></pre>
<h2 id="测试">测试</h2>
<h3 id="插入500条测试数据">插入500条测试数据</h3>
<pre><code><code> @Test
    public void insertDatas() {

        System.out.println(&quot;开始插入...&quot;);

        for(int i =1;i&lt;500;i++)
        {
            UserInfo userInfo = new UserInfo(i,UUID.randomUUID().toString().substring(0,8),&quot;123456789&quot;,(Integer) (i+50)/3,&quot;@sina.com&quot;);
            userInfoMapper.insertUser(userInfo);
        }
        System.out.println(&quot;插入成功！&quot;);

    }
</code></code></pre>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]12.png" alt="1568622618710" /></p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]13.png" alt="1568622635243" /></p>
<h3 id="显示信息列表-1">显示信息列表</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]14.png" alt="1568622681593" /></p>
<h3 id="修改-1">修改</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]15.png" alt="1568622720898" /></p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]16.png" alt="1568622745911" /></p>
<h3 id="添加-1">添加</h3>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]17.png" alt="1568622797540" /></p>
<p><img src="./images/[SpringBoot——Web开发（使用Thymeleaf模板引擎）]18.png" alt="1568622789735" /></p>


</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>